@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    background-color: #ffffff;
    
}

.main{
    display: flex;
    flex-direction: row;
}

.day{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.day .date{
        margin-top: 67%;
        margin-left: 62px;
        width: 73px;
        
        font: normal normal 600 61px Nunito Sans;
        letter-spacing: 0px;
        color: #E33E5A;
        opacity: 1;
        display: inline-flex;
}

.day .month{
    margin-left: 65px;
    margin-top:-82px;
    font-size: 20px;
    color: #1F4068;
    font-weight: 600;
}

.titl{
    display: inline-flex;
    flex-direction: row;
}

.list {
    box-shadow: 0px 16px 40px #00000029;
    border: 0.5px solid #C9C9C9;
    min-height: 652px;
    width: 44.375%;
    margin-top:7.25%;
    margin-left:17.96875%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 47px;;
    
}

footer{
    background-color: #1A1B2F29;
    height: 70px;
    
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

input {
    font-size: 15px;
    position: absolute;
    left: 460px;
    top: 170px;
    margin: 8px 0;
    padding: 0 0 0 50px;
    width: 290px;
    background: transparent;
    border: 0.5px solid #C9C9C9;
    border-radius: 10px;
    height: 40px;
    color: black;
    
}

.list .srchbr .srchico{
    position: absolute;
        left: 31.5%;
        top: 25.6%;
        width: 11.35px;
}